input[type="text"].form-control,
input[type="email"].form-control,
textarea.form-control,
button.btn.btn-primary {
    border: 2px solid rgb(51, 51, 51);
    border-radius: 0px;
}


button.btn.btn-primary {
    background-color: #373535;
    color: #fff;
}
