body {
    font-family: 'Prompt', sans-serif;
}


#header {
    background-color: #fff;
}

.header-promo {
    color: #f26c36;
}


.r4c-gallery-images-list,
.r4c-gallery-stage {
    background-color: #373535;
}


.front-page-images {
    background-color: #373535;
}


.front-page-images img {
    background-color: #606163;
    outline: .3em solid #4d4c4e;
}


.lang a {
    background: #fff;
    color: #2b2b2a;
}


.lang li > a:hover {
    text-decoration: underline;
    background: #fff;
}


.r4c-nav,
.r4c-sub-nav {
    background-color: #373535;
    color: #fff;
    font-weight: bold;
    border-top: 2px solid #f26c36;
}


.r4c-sub-nav {
    border-bottom: 2px solid #f26c36;
}


.r4c-contact-info {
    background-color: #373535;
    color: #fff;
    border-top: 2px solid #f26c36;
    border-bottom: 2px solid #f26c36;
}


.contact-notopb .r4c-contact-info {
    border-top: none;
}


.r4c-nav > li > a,
.r4c-nav > li > a:hover,
.r4c-nav > li > a:visited,
.r4c-sub-nav > li > a,
.r4c-sub-nav > li > a:hover,
.r4c-sub-nav > li > a:visited {
    color: #fff;
    font-family: monospace;
    background-color: #373535;
}


.r4c-nav > li.active > a,
.r4c-nav > li.active > a:focus,
.r4c-nav > li.active > a:hover,
.r4c-sub-nav > li.active > a,
.r4c-sub-nav > li.active > a:focus,
.r4c-sub-nav > li.active > a:hover {
    color: #ffdf31;
    background-color: #373535;
}


p.first-bold:first-letter {
    font-weight: bold;
}


p.first-large:first-letter {
    font-size: 125%;
}

.btn.btn-link {
    color: inherit;
    text-decoration: underline;
}

.well {
    background-color: inherit;
    border: none
}


.guestbook-message > .guestbook-message-col {
    border-bottom: 1px solid rgb(181, 181, 181);
}

.guestbook-message:last-child > .guestbook-message-col {
    border-bottom: none;
}


.guestbook-message-set > .guestbook-message:first-child {
    border-top: 1px solid rgb(181, 181, 181);
}


.guestbook-message-set:first-child > .guestbook-message:first-child {
    border-top: none;
}


@media (max-width: 768px) {
    .front-page-images img {
        outline: .3em solid #4d4c4e;
    }
}
