.r4c-gallery-images-window {
    overflow: hidden;
    padding: 1em 0 1em 0;
}


.r4c-gallery-images-container,
.r4c-gallery-images-container-containment {
    height: 150px;
    overflow: visible;
    position: relative;
}


.r4c-gallery-image {
    display: inline-block;
    height: 100%;
    max-height: 100%;
}


.r4c-gallery-image img {
    height: 100%;
    max-height: 100%;
}


.r4c-gallery-image {
    margin-left: 1em;
}


.gallery-nav img {
    width: 36px;
}


.gallery-nav {
    padding-top: 75px;
}


.gallery-nav a.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}
