main {
    padding-top: 12em;
    margin-bottom: 220px;
}

#pageContainer {
    position: relative;
}


.bg-top {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
}

.bg-bottom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
}


.bg-top img,
.bg-bottom img {
    width: 100%;
}


#header {
    margin-top: 1em;
}

#header .logo {
    padding-bottom: 1em; /* NB! overridden in media qry below */
}


#header .promo {
    padding-top: 2em;
}

.header-promo {
    font-size: 112%;
}


.front-page-images img {
    margin: 0 auto;
}

.front-page-images {
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em;
}


img.fb-link {
    width: 30px;
    margin-top: 1.5em;
}


.margin-top-none {
    margin-top: 0 !important;
}


.margin-bottom-none {
    margin-bottom: 0 !important;
}


.padding-top-1 {
    padding-top: 1em !important;
}


@media (min-width: 768px) {
    .r4c-nav > li > a,
    .r4c-sub-nav > li > a {
        padding: .2em .7em;
    }
    
    #header .logo {
        padding: 2em;
        margin-bottom: -1em;
        margin-top: -1em;
    }

    #header .slogan {
        padding-top: 2.5em;
    }
}


.r4c-nav,
.r4c-sub-nav {
    text-align: center;
}


.r4c-nav > li,
.r4c-sub-nav > li {
    float: none;
    display: inline-block;
}


.r4c-nav > li > a,
.r4c-sub-nav > li > a {
    border-radius: 0px;
}


.lang.downsize > li + li {
    margin-left: .5em;
}


.lang.nav-stacked > li + li {
    margin-top: .5em;
}


.lang.downsize > li > a {
    padding: .2em .6em .2em .6em;
}


#ajax-spinner {
    opacity : 0;
}


.contact-url {
    display: none;
}


.contact-info-bottom-container {
    position: absolute;
    bottom: 28px;
    width: 100%;
}


.r4c-contact-info p {
    margin: 2px 0 5px 0;
}


.contact-component + .contact-component {
    padding-left: .7em;
}
