<div class="row r4c-contact-info">
    <div class="col-xs-12">
        <p class="text-center">
            <span class="contact-component">Fiona Ansink</span>
            <span class="contact-component">Valtatie 10</span>
            <span class="contact-component">03600</span>
            <span class="contact-component">Karkkila</span>,
            <span class="contact-component">(00358) 0440610497</span>
            <span class="contact-component">Kaupparegesterinr:</span>
        </p>
    </div>
</div>
