{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{{ __base_uri }}/css/basic-form.css">
{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-1" id="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <p class="first-bold first-large">{{ strings.page_title }}</p>
                    {% for p in body_paragraphs %}
                        <p>{{ p|nl2br }}</p>
                    {% endfor %}
                </div>
            </div>
            <div id="feedback">
                &nbsp;
            </div>
            {% include "contact_form.html" %}
        </div>
    </div>
</main>
{% endblock %}
{% block js_link %}
<script src="{{ __base_uri }}/js/contact.{{ __js_src_mode }}.js?v={{ __js_src_version }}"></script>
<script>
    !function($) {
        $(document).ready(function() {
            rfc.contact.init();
        });
    }(jQuery);
</script>
{% endblock %}
