{% if errors.__csrf_token is defined %}
<div class="alert alert-danger">{{ errors.__csrf_token }}</div>
{% endif %}

<form method="post" action="{{ __base_uri }}/{{ lang }}/contact_submit" id="contact-form">
    <input type="hidden" name="__csrf_token" value="{{ __csrf_token }}">
    <input type="hidden" id="is_ajax" name="is_ajax" value="0">
    <input type="text" name="url" class="contact-url" value="{{ prefill.url }}" autocomplete="off">
    <div class="form-group {{ errors.name is defined ? 'has-error': '' }}">
        <label for="name">* {{ strings.field_name }}</label>
        <input type="text" id="name" name="name" class="form-control" value="{{ prefill.name }}" autofocus required>
        {% if errors.name is defined %}
            <span class="help-block">{{ errors.name }}<span>
        {% endif %}
    </div>
    <div class="form-group {{ errors.email is defined ? 'has-error': '' }}">
        <label for="email">* {{ strings.field_email }}</label>
        <input type="email" id="email" name="email" class="form-control" value="{{ prefill.email }}" required>
        {% if errors.email is defined %}
            <span class="help-block">{{ errors.email }}<span>
        {% endif %}
    </div>
    <div class="form-group {{ errors.phone is defined ? 'has-error': '' }}">
        <label for="phone">{{ strings.field_phone }}</label>
        <input type="text" id="phone" name="phone" class="form-control" value="{{ prefill.phone }}">
        {% if errors.phone is defined %}
            <span class="help-block">{{ errors.phone }}<span>
        {% endif %}
    </div>
    <div class="form-group {{ errors.message is defined ? 'has-error': '' }}">
        <label for="message">* {{ strings.field_message }}</label>
        <textarea id="message" name="message" class="form-control" rows="4" minlength="3" required placeholder="{{ placeholder.message }}">{{ prefill.message }}</textarea>
        {% if errors.message is defined %}
            <span class="help-block">{{ errors.message }}<span>
        {% endif %}
    </div>
    <div class="form-group">
        <input type="text" name="company" class="contact-url" value="{{ prefill.company }}" autocomplete="off">
        <button type="submit" class="btn btn-primary">{{ strings.submit }}</button>
        <img id="ajax-spinner" src="{{ __base_uri }}/data/img/ajax-spinner.gif" alt="">
    </div>
</form>
<script>
    if (typeof rfc !== "undefined" && typeof rfc.contact !== "undefined") {
        rfc.contact.init();
    }
</script>
