{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="front-page-images">
        <div class="row">
            {% for image in images %}
                <div class="col-xs-4">
                    <a class="img-responsive" href="{{ __base_uri }}{{ image.get_original_url }}">
                        <img class="img-responsive" src="{{ __base_uri }}{{ image.get_thumb_url }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% for p in body_paragraphs %}
                <p class="text-center">{{ p|nl2br }}</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
