{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="r4c-gallery-images">
        <div class="r4c-gallery-images-window">
            <div class="r4c-gallery-images-container">
                {% for image in images %}
                    <div class="r4c-gallery-image">
                        <a href="{{ __base_uri }}{{ image.get_original_url }}" data-gallery data-img_id="{{ image.get_id }}">
                            <img class="img-responsive gallery-img" src="{{ __base_uri }}{{ image.get_thumb_url }}" alt="Missing image">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<script src="{{ __base_uri }}/js/gallery.js"></script>
<script>
    !function($) {
        $(document).ready(function() {
            rfc.gallery.update();
        });
    }(jQuery);
</script>
{% endblock %}
