{% extends "base.html" %}
{% block head_extra %}
<link rel="stylesheet" href="{{ __base_uri }}/lib/Gallery-2.18.2/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{ __base_uri }}/lib/Bootstrap-Image-Gallery-3.4.2/css/bootstrap-image-gallery.min.css">
{% endblock %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div id="f4c-gallery-images" class="row">
    {% for image in images %}
        <div class="col-xs-4 col-md-2">
            <a href="{{ __base_uri }}{{ image.get_original_url }}" data-gallery data-img_id="{{ image.get_id }}">
                <img class="img-responsive gallery-img" src="{{ __base_uri }}{{ image.get_thumb_url }}" alt="Missing image">
            </a>
        </div>
    {% endfor %}
    </div>
</main>

<script src="{{ __base_uri }}/js/gallery.js"></script>
<script>
    !function($) {
        $(document).ready(function() {
            rfc.gallery.update();
        });
    }(jQuery);
</script>
{% endblock %}
