{% extends "base.html" %}
{% block head_extra %}<link rel="stylesheet" href="{{ __base_uri }}/css/gallery.css">{% endblock %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="r4c-gallery-stage">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" src="{{ default_stage_image_url }}" alt="Missing image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <strong>{{ strings.previous }}</strong>
                </div>
                
                <div class="col-xs-6 text-right">
                    <strong>{{ strings.next }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="r4c-gallery-images row">
        <div class="col-md-1 hidden-sm hidden-xs text-right gallery-nav">
            <a href="#gallery_move" data-gallery_nav="left"><img src="{{ __base_uri }}/data/img/arrow-left.png" alt="&lt;"></a>
        </div>
        <div class="col-md-10">
            <div class="r4c-gallery-images-window">
                <div class="r4c-gallery-images-container-containment">
                    <div class="r4c-gallery-images-container">
                        {% for image in images %}
                            <div class="r4c-gallery-image">
                                <a href="{{ __base_uri }}{{ image.get_original_url }}" data-img_url="{{ __base_uri }}{{ image.get_original_url }}" data-img_id="{{ image.get_id }}">
                                    <img class="gallery-img" src="{{ __base_uri }}{{ image.get_thumb_url }}" alt="Missing image">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs gallery-nav">
            <a href="#gallery_move" data-gallery_nav="right"><img src="{{ __base_uri }}/data/img/arrow-right.png" alt="&gt;"></a>
        </div>
    </div>
</main>

<script src="{{ __base_uri }}/lib/jquery-ui-1.12.0.draggable/jquery-ui.min.js"></script>
<script src="{{ __base_uri }}/js/gallery.{{ __js_src_mode }}.js?v={{ __js_src_version }}"></script>
{% endblock %}
