{% extends "base.html" %}
{% block head_extra %}<link rel="stylesheet" href="{{ __base_uri }}/css/process.css">{% endblock %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="first-bold first-large process-intro">{{ strings.intro }}</p>
            {% for text in texts %}
                {% if text.get_title|length %}
                    <strong>{{ text.get_title }}</strong>
                {% endif %}
                <p class="first-bold">{{ text.get_content }}</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
